{% load static%}

<style media="screen">



		body{background-color: white;}
		.e10{height:10px;}
		.e30{height:30px;}
		.e50{height:50px;}
		.e63{height:63px;}
		.black{background-color: black}

  .navbar{box-shadow: 0px 22px 22px gray;}
	  nav{box-shadow:0px 16px 22px gray;}
		.nav-item{padding-left:0px;}



		nav ul li a:hover{
			transform:scale(1.05,1.05);
			font-weight: bold;
		}

		nav ul li a{transition: transform 200ms;}

		.box form{width:40%;}
		/*Para que cada elemento posea 1 linea*/
		.box form label { display:block; }
		.box form input [type="text"]
		.box form-textarea{width:100%;}


</style>


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

	<a class="navbar-brand" href="/">
		<img src="{% static 'img/devsyscon.png'%}" width="30" height="30" class="d-inline-block align-top">
		Imperio Mexicano
	</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarText">

		<ul class="navbar-nav ml-auto mr-auto text-center">

			<li class="nav-item mr-5 ">
				<a class="nav-link" href="/guildboard">Inicio</a>
			</li>

    </ul>

  </div>
</nav>
