<div id="s3-md" class="container-fluid">
  <div class="e30"></div>

  <div class="titulos3 text-center"> <h3> Hall of fame and Gallery: </h3></div>

  <div class="e10"></div>
  <div class="row">


    <div class="col-1"></div>

    <div class="col">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">

          <div class="carousel-item active">

          <div class="container-fluid">
            <div class="row">

                 <div class="col vidbox ">
                <div class="rounded embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LSXC4p-Xcjo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                   </iframe>
                </div>
                 </div> <!-- End vidbox1-->

              <div class="col-1"></div>

                <div class="col vidbox ">
               <div class="rounded embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ce8rqHsTeMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
               </div>
                </div> <!-- End vidbox1-->


              <div class="col-1"></div>

                 <div class="col vidbox ">
                <div class="rounded embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hgExAmuqYhg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                   </iframe>
                </div>
                 </div> <!-- End vidbox1-->


            </div> <!--END ROW-->
          </div> <!--END CONTAINER-->

          </div><!--End carousel active-->


          <div class="carousel-item">

            <div class="container-fluid">
              <div class="row">


                   <div class="col vidbox ">
                  <div class="rounded embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y6mt6Yd-bsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                  </div>
                   </div> <!-- End vidbox1-->

                <div class="col-1"></div>

                 <div class="col vidbox">
                <div class="rounded embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4BxCOc95w4w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                   </iframe>
                </div>
                 </div> <!-- End vidbox1-->

                <div class="col-1"></div>

                 <div class="col vidbox">
                <div class="rounded embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cNmcGq0MtR4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                   </iframe>
                </div>
                 </div> <!-- End vidbox1-->


              </div> <!--END ROW-->
            </div> <!--END CONTAINER-->

          </div>



        </div>  <!--END CAROUSEL INNER-->

        <div class="e10"></div>
      </div> <!--END CAROUSEL EXAMPLE INDIC-->
    </div> <!---end col contenido central carousel-->


    <div class="col-1"></div>



  </div>

 <div class="e30"></div>
</div>
