-<!--extends para heredar -->
{% extends 'layout.html' %}
{%load static%}

{% block import %}

{% endblock %}

{% block title %} {{title}} {% endblock %}

<!-------------------------------------------------------------------->
{% block content %}

<h1> Register & login </h1>

<div class="container-fluid">
  <div class="e30"> </div>


  <div class="row">

    <div class="col-md-1"></div>


    <div class="col-sm-12 col-md">
      {% include '00-general/C5_registerform.html' %}
    </div>


    <div class="col-md-1"></div>

  </div>
</div>


{% endblock %}
<!-------------------------------------------------------------------->
