-<!--extends para heredar -->
{% extends 'layout.html' %}
{%load static%}

{% block import %}

{% endblock %}

{% block title %} Perfil  {% endblock %}

<!-------------------------------------------------------------------->
{% block content %}

<h1> Perfil </h1>

<div class="container-fluid">
  <div class="e30"> </div>


  <div class="row">

    <div class="col-md-1"></div>


    <div class=" col-md">

    </div>


    <div class="col-md-1"></div>

  </div>
</div>


{% endblock %}
<!-------------------------------------------------------------------->
