
	{%load static%}

	    @media (max-width:640px){

					 #allmysteries-sm{display:block;}
					 #allmysteries-md{display:none;}
				 }


	    @media (min-width: 641px) and (max-width:830px){
					#allmysteries-sm{display:block;}
					#allmysteries-md{display:none;}
	    }

	    @media (min-width:831px) and (max-width:950px){

					#allmysteries-sm{display:none;}
					#allmysteries-md{display:block;}


	    }
	    @media (min-width:951px) and (max-width:1228px){

					#allmysteries-sm{display:none;}
					#allmysteries-md{display:block;}

	    }
	     @media (min-width:1229px) and (max-width:1399px){

					#allmysteries-sm{display:none;}
					#allmysteries-md{display:block;}
	    }
	    /* Medidas arriba de la laptop */
	    @media (min-width:1400px) {
				#allmysteries-sm{display:none;}
				#allmysteries-md{display:block;}
	    }

			 /*Todas las Medidas abajo de la laptop */
			@media (max-width:1399px){

		 }
