
.e25{height:25px;}
.e20{height:20px}

.green{border: 1px solid green;}
.red{border: 1px solid red}
.blue{border: 1px solid blue}
.yellow{border: 1px solid yellow}

.centradox{margin-left:auto; margin-right:auto}
.centradoy{margin-top:auto; margin-bottom:auto}
/* CSS MASTERKEY RESPONSIVE CONTAINER-FLUID/ROW KEY*/

.cuadro{height:90px}

@media (max-width:574px){
  .markquery{background-color: red}
}

@media (min-width: 575px) and (max-width:768px){
  .markquery{background-color: blue}
}

  @media (min-width:769px) and (max-width:950px){
  .markquery{background-color: yellow}
}
@media (min-width:951px) and (max-width:1228px){
  .markquery{background-color: green}
}
 @media (min-width:1229px) and (max-width:1399px){
   .markquery{background-color: orange}
}

/* Medidas arriba de la laptop */
@media (min-width:1400px) {
  .markquery{background-color: gray}
}
