
{%load static%}

<style media="screen">

  @media (max-width:640px){
    #buyizq{height:auto}
    .titleA2{text-align:center!important}
    .contentA2{text-align:center!important}
    .mainrowitem{height:200px;}
    .sectionbuy{height:270px ; padding-bottom:850px}
  }
  @media (min-width: 641px) and (max-width:830px){
    #buyizq{height:auto}
    .titleA2{text-align:center!important}
    .contentA2{text-align:center!important}
    .mainrowitem{height:200px;}
    .sectionbuy{height:270px; padding-bottom:850px}
  }
  @media (min-width:831px) and (max-width:950px){
    #buyizq{height:auto}
    .mainrowitem{height:140px;}
    .sectionbuy{height:500px}
  }
  @media (min-width:951px) and (max-width:1228px){
    #buyizq{height:auto}
    .mainrowitem{height:140px;}
    .sectionbuy{height:500px}
  }
  @media (min-width:1229px) and (max-width:1399px){
    #buyizq{height:auto}
    .mainrowitem{height:140px;}
    .sectionbuy{height:500px}
  }

  @media (min-width:1400px) { /* Medidas arriba de la laptop */
    #buyizq{height:auto}
    .mainrowitem{height:140px;}
    .sectionbuy{height:500px}
  }

  .titleA2{font-weight: bold; margin-top:15px}
  .sectionbuy{margin-top:auto; margin-bottom:auto; }
  .divimgA2{margin-left:auto; margin-right:auto;width:70px;height:70px;}
  .divtextitem{margin-top:auto; margin-bottom:auto;}

  .mainrowitem{
    box-shadow:0px 1px 5px gray;
    border-radius:5px;
    background-color: white;
  }

  .centrartexto{margin-top:auto; margin-bottom:auto; height:auto}
  .title-buyizq{font-size:36px;font-style:bold}

  .mainrowitem:hover{
 		transform:scale(1.05,1.05);
 		border: 4px solid #58D3F7;
 	}


</style>


<div class="e30"></div>


<div class="containter-fluid">

	<div class="row sectionbuy">

    <div class="col-1"></div>

    <div id="buyizq" class="centradoy container-fluid col-12-sm col-md">

    <p class="title-buyizq"> ¿Qué podemos ofrecerte? </p>

    </div> <!-------end lado der------------>

    <div class="col-1"></div>


    <div id="buyder" class="container-fluid col-12-sm col-md">

      <div class="e20"></div>

      <div class="row mainrowitem">
        <div class="col-12 divtextitem col-md-2">
          <div class=" divimgA2">
            <img src="{%static 'img/money.png'%}" class="imgA2">
          </div>
        </div><!--imagen-->

        <div class="centrartexto col col-md-10">
            <p class="titleA2">Compra y Vende tibia coins</p>
            <p class="contentA2" >Ocupas items o necesitas efectivos? Adquiere y vende tibia coins sin problema y además recibe Loyalty Bytes. </p>
        </div>
      </div>

      <div class="e20"></div>

      <div class="row mainrowitem">
        <div class="col-12 divtextitem col-md-2">
          <div class=" divimgA2">
            <img src="{%static 'img/clothes.png'%}" height="70px" width="70px" class="imgA2">
          </div>
        </div><!--imagen-->

        <div class="centrartexto col col-md-10">
          <p class="titleA2">Compra fansite clothes</p>
          <p class="contentA2" > Mira el cátalogo y escoge tu talla, hay diseños muy locos. Cambia por tus Loyalty Bytes. </p>
        </div>
      </div>

      <div class="e20"></div>

      <div class="row mainrowitem">
        <div class="col-12 divtextitem col-md-2">
          <div class=" divimgA2">
            <img src="{%static 'img/server.png'%}" class="imgA2">
          </div>
        </div><!--imagen-->

        <div class="centrartexto col col-md-10">
          <p class="titleA2">Adquiere tu Private Guild Server</p>
          <p class="contentA2" > Quieres monitorear tu guild y llevar el seguimiento de tus teammates, organiza sorteos, dale mas tools a tu equipo. </p>
        </div>
      </div>

    </div><!-------end lado izq------------>



    <div class="e20">  </div>

    <div class="col-1"></div>


	</div> <!--!end row container-->
</div> <!--!end container-->
