
{%load static%}

<style media="screen">

  @media (max-width:640px){
    .boxfotoc{height:280px}
    #cardscoolsection{height:1960px}

  }
  @media (min-width: 641px) and (max-width:830px){
    .boxfotoc{height:280px}
    #cardscoolsection{height:1960px}


  }
  @media (min-width:831px) and (max-width:999px){
    .boxfotoc{height:280px}
    #cardscoolsection{height:1960px}

  }
  @media (min-width:1000px) and (max-width:1228px){
    .boxfotoc{height:200px}
    #cardscoolsection{height:610px}

  }
  @media (min-width:1229px) and (max-width:1399px){
    .boxfotoc{height:200px}
    #cardscoolsection{height:610px}

  }

  @media (min-width:1400px) { /* Medidas arriba de la laptop */
    .boxfotoc{height:200px}
    #cardscoolsection{height:610px}

  }




  .boxfotoc{margin-left:auto; margin-right:auto; background-size:cover;}

  .fotoc1{background-image: url("{%static 'img/c2-coolcards/guild.png'%}")}
  .fotoc2{background-image: url("{%static 'img/c2-coolcards/lottery.jpg'%}")}
  .fotoc3{background-image: url("{%static 'img/c2-coolcards/mysteries.jpg'%}")}

  .boxc{height:630px; padding-bottom:50px}
  #cardscoolsection{background-color: #edf1ff !important}

  .titulocardscool{font-family:'ui-monospace'; font-size:30px; font-weight:bold}
  .textoc{height:300px; background-color:white; padding-left:30px; padding-right:30px}
  .textoc:hover{transition:all 0.4s ease-in-out 0s; background-color:#001D85; color:white; }

</style>

<div class="e30"></div>

<div id="cardscoolsection">
  <div class="e20"></div>
  <div class="text-center"> <h3> Boards Disponibles: </h3></div>
  <div class="e20"></div>

  <div id="section1" class="container">

    <div class="row">

      <div class=" col-12 col-lg boxc">
        <div class="rounded-top boxfotoc fotoc1"> </div>
        <div class="rounded-bottom textoc text-center">
          <div class="e20"></div>
        <h5> Guild board </h5>
        <div class="e10"></div>
          <h6> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  </h6>
        </div>
      </div>



      <div class=" col-12 col-lg boxc">
        <div class="rounded-top boxfotoc fotoc2"> </div>
        <div class="rounded-bottom textoc text-center">
          <div class="e20"></div>
          <h5> Lottery board </h5>
          <div class="e10"></div>
          <h6> Participa en los sorteos que ofrecemos.
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </h6>
        </div>
      </div>



      <div class=" col-12 col-lg boxc">
        <div class="rounded-top boxfotoc fotoc3"> </div>
        <div class="rounded-bottom textoc text-center">
          <div class="e20"></div>
          <h5> Mysteries board </h5>
          <div class="e10"></div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h6>
        </div>
      </div>


    </div><!-- end row -->


  </div> <!-- end section -->
</div> <!-- End component -->
