
{%load static%}

<style media="screen">

  @media (max-width:640px){
    #contenidoparalax{height:490px}
  }
  @media (min-width: 641px) and (max-width:830px){
    #contenidoparalax{height:490px}

  }
  @media (min-width:831px) and (max-width:999px){
    #contenidoparalax{height:490px}
  }
  @media (min-width:1000px) and (max-width:1228px){
    #contenidoparalax{height:250px}

  }
  @media (min-width:1229px) and (max-width:1399px){
    #contenidoparalax{height:250px}
  }

  @media (min-width:1400px) { /* Medidas arriba de la laptop */
    #contenidoparalax{height:250px}
  }

  #contenidoparalax{
    color:white;
  }

  .boxhook{


  }
  .imghookcharbox{
    background-image: url("{%static 'img/hookinfo/knight-male.gif'%}");
    height:50px;
    background-repeat: no-repeat;
    width:50px;
    margin-left:auto;
    margin-right:auto;
    padding:50px;
  }

  .hookcharbox{}


</style>

<div id="hookinfosection">
  <div class="text-center"> <h3> Combina la gestión con lo que más te gusta. </h3></div>
  <div id="contenidoparalax" class="container">

    <div class="row">

      <div class="red col-12 col-lg boxhook text-center">
        <div class="row">

          <div class="col green hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

          <div class="col hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

          <div class="col green hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

        </div><!---endrow-->

        <div class="row">

          <div class="col hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

          <div class="col hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

          <div class="col hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

        </div><!---endrow-->

        <div class="row">

          <div class="col hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

          <div class="col hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

          <div class="col hookcharbox">
            <div class="imghookcharbox"></div>
          </div>

        </div><!---endrow-->

      </div>

      <div class="red col-12 col-lg boxhook text-center">

					<h6>

					</h6>

      </div>

    </div><!-- end row -->


  </div> <!-- end section -->
</div> <!-- End component -->
