{% load static %}

<style media="screen">

  @media (max-width:640px){

  }
  @media (min-width: 641px) and (max-width:830px){

  }
  @media (min-width:831px) and (max-width:950px){

  }
  @media (min-width:951px) and (max-width:1228px){

  }
  @media (min-width:1229px) and (max-width:1399px){

  }

  @media (min-width:1400px) { /* Medidas arriba de la laptop */

  }

#mainbanner{
      margin-left:auto;
    	margin-right:auto;
      width:auto;
    	height:400px;
    	background-color:white;
    	background-image: url("{%static 'img/walls/wp0.jpg'%}");
      background-attachment: fixed;
      background-size:cover;
}


.boxchars-izq{border: px solid blue; color:white;}
.char{height:110px;width:300px;}
.charlog{font-size:12px}
.charimgdiv{display:inline-block;width:100px}
.chartext{display:inline-block; font-size:15px; font-weight:bold}


</style>


<div id="mainbanner" class="">

    <div id="" class="container-fluid ">
      <div class="e50">

      </div>
      <div class="row ">

        <div class="col boxchars-izq cuadro">

          <div class="row char centradox">
            <div class="charimgdiv" >
              <img class="charimg " src="{% static 'img/astram.gif'%} ">
            </div>
            <div class="chartext">
              <div id="C1charname" class="row charname "></div>
              <div id="C1charvoc" class="row charvoc"> </div>
              <div id="C1charlvl" class="row charlvl"></div>
              <div id="C1charlog" class="row charlog"></div>
            </div>
          </div> <!--end char1-->

          <div class="row char centradox">
            <div class="charimgdiv" >
            <img class="charimg" src="{% static 'img/digibyte.gif' %}">
            </div>
            <div class="chartext">
              <div id="C2charname" class="row charname "></div>
              <div id="C2charvoc" class="row charvoc"></div>
              <div id="C2charlvl" class="row charlvl"></div>
              <div id="C2charlog" class="row charlog"></div>
            </div>
          </div> <!--end char1-->

          <div class="row char centradox">
            <div class="charimgdiv " >
              <img class="charimg" src="{% static 'img/hemwig.gif' %}" alt="">
            </div>
            <div class="chartext">
              <div id="C3charname" class="row charname"></div>
              <div id="C3charvoc" class="row charvoc"></div>
              <div id="C3charlvl" class="row charlvl"></div>
              <div id="C3charlog" class="row charlog"></div>
            </div>
          </div> <!--end char1-->




        </div> <!--end boxchars izq-->



        <div class="col"> </div>


	     </div> <!--!end row container-->
     </div> <!--!end container-->

</div>
