
{%load static%}

<style media="screen">

  @media (max-width:640px){
    #paralaxsection{height:490px}
  }
  @media (min-width: 641px) and (max-width:830px){
    #paralaxsection{height:490px}

  }
  @media (min-width:831px) and (max-width:999px){
    #paralaxsection{height:490px}
  }
  @media (min-width:1000px) and (max-width:1228px){
    #paralaxsection{height:250px}

  }
  @media (min-width:1229px) and (max-width:1399px){
    #paralaxsection{height:250px}
  }

  @media (min-width:1400px) { /* Medidas arriba de la laptop */
    #paralaxsection{height:250px}
  }

  #paralaxsection{
    background-image: url("{%static 'img/walls/wp2.jpg'%}");
    background-size:cover;
    background-attachment: fixed;
    color:white;
  }

  .boxparalax{padding-top:60px;}

</style>

<div id="paralaxsection">
  <div class="e20"></div>

  <div id="contenidoparalax" class="container">

    <div class="row">

      <div class=" col-12 col-lg boxparalax text-center">
          <h6>
          Pues mil caeran a tu izquierda y diez mil a tu derecha,
          pero a ti nada te pasara </br>
          (P. Salm 91:7) </br>
          - Ryoga of Dystants [2011]
          </h6>

      </div>

      <div class=" col-12 col-lg boxparalax text-center">

					<h6>
					You advanced in shielding. skill 100,
					20/03/2011 (8th char on Elysia doing it).</br>
					The Force of Will </br>
					- Knight Centurio [2011]
					</h6>

      </div>

      <div class=" col-12 col-lg boxparalax text-center">
        <h6>
        Morir sirviendo a tu pueblo no es muerte </br>
        Crylo Demphis [191]: why you dont die? </br>
        - Lord the calamaty [2011]
        </h6>
      </div>


    </div><!-- end row -->


  </div> <!-- end section -->
</div> <!-- End component -->
